

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
    line-height: 26px;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    margin-bottom: 65px;

}
.page_header_up {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}
.screen-img {
    display: block;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position:absolute;
    top: 210px;
    right: 0px;

}
.page_header {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.logo {
    display: block;
    background-image: url(../img/logo-with-text.png);
    width: 181px;
    height: 49px;
    
}
.nav_menu {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    margin-right: -52px;
    padding: 0px;
    list-style-type: none;
}
.nav_menu li {
    padding: 0 21px;
}
.nav_menu a {
    letter-spacing: 2px;
}
.nav-item {
    color: #6e7ea9;
}
.nav {
    white-space: nowrap;
    margin-top: 3.76em;
    max-width: 540px;
    letter-spacing: -3px;
    line-height: 1.14;
}


.btn-primary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;   
    background-color: #1085e4;
    padding: 24px 44px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #1085e4;
    transition: 0.3s;
}
.page_plans .btn-primary {
    padding: 20px 60px;
}

.btn-primary:hover {
    color:#1085e4 ;
    background-color: #fff;
}
.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7e8bae;   
    background-color: #cbdbe8;
    padding: 24px 44px;
    border-radius: 30px;
    letter-spacing: 3.5px; 
    border: 1px solid #cbdbe8;  
    transition: 0.3s;
}
.btn-secondary:hover {
    color: #cbdbe8;
    background-color: #fff;
}
.btn-group a+a {
    margin-left: 20px;

}
.button_1 { 
    font-weight: 400;
    letter-spacing: 2.5px;
    padding: 24px 61px;
    transition: 0.3s;
}
.btn-info {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8085b1;   
    background-color: transparent;
    padding: 20px 60px;
    border-radius: 30px;
    letter-spacing: 2.5px; 
    border: 2px solid #dce1e5; 
    transition: 0.3s;
}
.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #8085b1;
}
.btn-info-active {
    color: #ffffff;
    background-color: #1085e4;
    padding: 24px 69px;
    border: 1px solid #1085e4;

}
/* PAGE COMPANY */
.page_company {
    background-image: url(../img/bg_2_blue.png);
    padding: 103px 0px 99px 0px;
}
.list-company {
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: baseline;
}
.list-company-item {
    display: inline;
    flex-basis: 20%;
    background-repeat: no-repeat;
}
.company-one {
    background-image: url(../img/token.png);
    height: 59px;
}
.company-two {
    background-image: url(../img/magneto.png);
    height: 69px;
}
.company-three {
    background-image: url(../img/boohoo.png);
    height: 47px;
}
.company-four {
    background-image: url(../img/fractal.png);
    height: 69px;
}
/* PAGE COMPANY END */

/* PAGE SUBSCRIBE */
.subscribe-bg {
    background: linear-gradient(to right, #0a2090 0%, #2377cd 100%);
    background-repeat: no-repeat;
    background-size: 100%;   

}
.page_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-box {
    margin-top: -41px;


}
.img {
    border-style: none;
}
.subscribe-box h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    padding: 0px 0px 0px 0px;
    letter-spacing: -1.6px;
}
.subscribe-box h2 span {
    font-size: 14px;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    padding: 0px 0px 33px 0px;

}
.subscribe-box p {
    color: #dfe8ff;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0px 27px 0px;
    

}

.page_subscribe button{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    transition: 0.3s;

}
.page_subscribe input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
}
.email  {
  background-color: transparent;
  width: 488px;
 border: none;
 outline: none;
  color: #cbdbe8;
  border-radius: 40px;
  border: 1px solid #456dbd;
  padding: 26px;
  
}
.borders {
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 10px 20px 30px rgba(146, 226, 250, 0.5);
 border-radius: 40px;
}

.submit {
    position: absolute;
    padding: 20px 44px;
    right: 0;
    margin: 8px 8px 8px 8px;
    cursor: pointer;
}
.Robot {
    padding-top: 54px;
    padding-bottom: 54px;
}

/* PAGE SUBSCRIBE END */

/* PAGE GRID */
.grid {
    display: grid;
    grid-template-areas: "a b c" "d b c" "d e f" "g e f" "g h h";
    Grid-gap: 35px;
    text-align: center;
    Grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 173px;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 134px;

}

.grid-text-h3 {
    letter-spacing: -1px;
}
.grid-item-title {
    grid-area: a;
    text-align: left;
    letter-spacing: -1px;
}
.grid-item-1 {
    grid-area: b;
    margin-top: 23px;
}
.grid-item-2 {
    grid-area: c;
    margin-top: 23px;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
    margin-top: -20px;
}
.grid-text {
    grid-area: h;

}
.grid-text p {
    text-align: left;
}
.grid_item {
    text-align: center;
    box-shadow: 0 7px 7px #f4f4f4;
    max-width: 353px;
    padding-top: 61px;
    padding-bottom: 45px;
   

}
.grid-icon {
    display: block;
    background-repeat: no-repeat;
    margin: 0px auto;
    height: 92px;
    background-position: center;
}
.grid-icon-1 {
    background-image: url(../img/document.png);
    width: 73px;
    
}
.grid-icon-2 {
    background-image: url(../img/custom.png);
    width: 89px;
    
}
.grid-icon-3 {
    background-image: url(../img/phone_2.png);
    width: 79px;
    
}
.grid-icon-4 {
    background-image: url(../img/design.png);
    width: 85px;
    
}
.grid-icon-5 {
    background-image: url(../img/support.png);
    width: 100px;
    
}
.grid-icon-6 {
    background-image: url(../img/edit.png);
    width: 103px;
    
}




/* PAGE GRID END */
.grid h2{
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid_item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #192b59;


}
.grid_item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.rosalina p{
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}
.rosalina p span{
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}



.header_2 {
    font-weight: 600;
    font-size: 50px;
    color: #192b59;
}
.page_software dl dt {
    font-weight: 700;
    font-size: 16px;
    color: #5a6789;
}
/* PAGE */
.page_stat, .page_screen {
    background-color: #edf6ff;
    padding: 115px 0px 95px 0px;
}
.page_screen {
    padding: 80px 0 0 0;
}
.page_stat {
    overflow: hidden;
}
/* END PAGE */
.page_stat h2 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}
.square{
    display: block;
    position: absolute;
    width: 30%;
    top: 3950px;
    right: 145px;
    opacity: 0.6;
}
.circle {
    display: block;
    position: absolute;
    width: 40%;
    top: 4225px;
    left: -224px;
    opacity: 0.6;
}
.intro {
    display: block;
    position: absolute;
    width: 40%;
    top: 4640px;
    left: 560px;
    margin: 0 auto;
    opacity: 0.6;
    z-index: 3;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    margin: 0 0;
    margin-left: -55px;
}
.list-stat>li {
    font-weight: 700;
    font-size: 12px;
    color: #1085e4;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.list-stat>li>span {
    font-weight: 700;
    font-size: 60px;
    color: #bacbdc;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 0px;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title-h2-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.title-h2-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page_stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.page_suitable a {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
}
.page_etid a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
}
 /* PAGE SCREEN  */
.page_screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.page_screen h2 {
    font-weight: 600;
    font-size: 40px;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.screen-fo, .page_plans {
    text-align: center;
}
.screenshot {
    margin-top: 40px;
    margin-bottom: -10px;
}
/* PAGE SCREEN END */

/* PAGE PLANS */
.box_prices {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 117px;
}
.box_price_item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}
#h3_1 {
    margin-bottom: 33px;
}
.box_price_item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.box_price_item h3 span {
    font-size: 20px;
}
.box_price_item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box_price_item h3 span:first-child {
    color: #000958;
}
.prices_active h3 span:first-child {
    color: #fff;
}
.prices_active h3 {
    color: #fff;
}
.box_price_item h3 span:last-child {
    color: #7b8ab2;
}
.prices_active {
    background-color: #152b59;
    color: #fff;
}

.box_price_item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}
.box_price_item ul>li {
    margin-bottom: 14px;
}
.box_price_item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/tr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.prices_active::after {
    display: none;
}
.page_plans .btn-primary:hover {
    background: transparent;
}
.prices_active h3 span:last-child {
    color: #7b8ab2;
}
/* PAGE PLANS END */


/* PAGE SOFTWARE */
.page--icon {
    display: block;
    background-image: url(../img/logo-cosmic.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 92px;
    margin-left: -30px;
}
.page_software {
    padding: 48px 0 6px 0;
}
.page-software-lorem {
    margin-bottom: 27px;
    max-width: 600px;
}
.page_software .title-h2 {
    max-width: 770px;
    margin-top: 12px;
    margin-bottom: 26px;
    letter-spacing: -1px;
}
.page-software-list {
    margin-top: 10px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 600px;
}
.page-software-list::-webkit-scrollbar { 
    width: 3px; 
    background-color: #f3f6ff;
}
.page-software-list::-webkit-scrollbar-thumb { 
    width: 3px; 
    height: 3px; 
    border-radius: 10px; 
    background-color: #1085e4;
}


.page-software-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-software-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    line-height: 1.8;

    font-size: 14px;
}
.page-software-flex {
    display: flex;
    justify-content: flex-end;
}
.page-software-flex>div {
    flex-basis: 55%;
}
.page-software-img {
    background-image: url(../img/page-software-icon.png);
    background-repeat: no-repeat;
    min-width: 931px;
    height: 957px;
}
/* PAGE SOFTWARE END*/



/* PAGE CLIENTS */

.page_clients {

    margin-bottom: 112px;

}
.clients-bg-blue {
    background-image: url(../img/bg-happy-clients.svg);
    background-size: 90%;
    background-repeat: no-repeat;
}

.page_clients h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding: 0 0 67px 0;
    letter-spacing: -1.6px;
    margin: 0 0 0 0;
    
}
.page_clients h2 span {
    font-size: 18px;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    padding: 72px 0 33px 0;
    margin: 122px 5px 0 0;
}
.box_clients {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    
}
.clients_boxes {

    background-color: #ffffff;
    width: 240px;
    border-radius: 5% 5% 5% 5%;
    padding: 20px 20px 0 50px;
    margin-right: 30px;
    box-shadow: 10px 20px 30px rgba(185, 185, 185, 0.2);
}
.p_clients {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.client_name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    display: block;
    flex-basis: 100%;
    margin-bottom: 0;
}
.client_dolj {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    margin-top: 0;
}
.rolin-b {
    display: block;
    width: 53px;
    background-image: url(../img/rolin-b.png);
    height: 71px;
    background-repeat: no-repeat;
    margin: 0 10px -32px 0;
    padding: 5px;
    flex-basis: 25%;
}

.clients-rolin-b {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.names {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  PAGE CLIENTS END*/
/* PAGE APP */
.page_app {
    max-width: 1110px;
    margin: 0 auto;

}
.page-app-flex {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.app-img {
    margin-top: -73px;
    margin-left: -73px;
}
.page-app-left {
    display: block;
    min-width: 600px;
    line-height: 1.14;
    margin-top: -24px;
}
.page-app-p {
    line-height: 26px;
}
.dowload-btn {
    list-style-type: none;
    display: flex;
    justify-items: flex-start;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    padding-top: 37px;
    margin-left: -12px;
}
.dowload-btn li {
    margin-top: -35px;
}
.available {
    font-weight: 700;
    font-size: 16px;
    color: #c4d2dd;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 30px;
}
.page-app-h2 {
    letter-spacing: -1.5px;
}
.video_play {
    background-size: cover;
    z-index: 4;
    margin-left: 115px;
    padding: 55px 0 43px 0;
}
/* PAGE APP END*/

/* PAGE SUITABLE */
.page_suitable {
    background-image: url(../img/anytype-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 118px 0 136px 0;
}
.page-suitable-pre {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}
.page-suitable-flex {
    display: flex;
    align-items: center;
    margin: 0 5px;

}
.page-suitable-text {
    display: block;
    min-width: 600px;
}
.page-suitable-text> h2 {
    line-height: 1.14;
    letter-spacing: -1.5px;
    margin-top: 18px;
}
.page-suitable-text>p {
    margin-top: -11px;
    margin-bottom: 50px;
}
.btn-get {
    padding: 20px 44px;
}
.brandon-img {
    margin-top: 10px;
    margin-right: 46px;
}

/* PAGE SUITABLE END */


/* PAGE ETID */
.page_etid {
    background-image: url(../img/page-etid-bg.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right 0px center;
    margin-left: auto;
    margin-right: 0;
    padding: 118px 0 136px 0;
}
.page-etid-pre {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.page-etid-text {
    max-width: 600px;
}
.page-etid-flex {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
/* PAGE ETID END */



/* PAGE TEAM */
.page-team {
    background-image: url(../img/bg-our-team.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 0 0;
    position: relative;
}
.team-h2 {
    text-align: center;
    color: #ffffff;
    margin-left: 15px;
    padding-bottom: 23px;
    padding-top: 118px;
}
.team-h2 span {
    color: #85c8ff;
}
.box-team {
    display: flex;
    margin-left: -18px
}

.box-team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: 0.3s;
    border: none;
    padding: 0;
}
.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-team span {
    background-image: url(../img/icons_1.png);
    background-repeat: no-repeat;
    display:block;
    margin: 0 auto;

}
.box-team-item .button-more span {
    width: 55px;
    height: 59px;
    background-position: -22px 4px;

}
.box-team-item .button-more:hover span {
    background-position: -22px -36px;

}
.box-team-item .button-more:focus {
    outline: none;
}

.box-team-item .btn-fb span {
    width: 36px;
    height: 36px;
    background-position: -66px 4px;
}
.box-team-item .btn-fb:hover span {
    background-position: -66px -36px;
}

.box-team-item .btn-tw span {
    width: 36px;
    height: 36px;
    background-position: -101px 4px;
}
.box-team-item .btn-tw:hover span {
    background-position: -101px -36px;
}

.box-team-item .btn-be span {
    width: 36px;
    height: 36px;
    background-position: -137px 4px;
}
.box-team-item .btn-be:hover span {
    background-position: -137px -36px;
}

.box-team-item .btn-wb span {
    width: 36px;
    height: 36px;
    background-position: -175px 4px;
}
.box-team-item .btn-wb:hover span {
    background-position: -177px -39px;
}
.social-team {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}
.social-team .btn-team {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.page-team-position {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    margin-left: 13px;
}
.page-team-name {
    font-size: 26px;
    font-weight: 600;
    color: #000958;
    display: block;
    margin-top: -7px;
    letter-spacing: -1px;
    text-align: center;
    margin-left: 13px;
}
.avatar {
    display: block;
    background-repeat: no-repeat;
    margin-bottom: -208px;
    margin-right: -17px;
}


/* PAGE TEAM END */